<div>
  <h3>
    <%= @library.name %>
  </h3>
  <p>
    <strong>Floor Count: </strong> <%= @library.floor_count %>
  </p>
  <p>
    <strong>Floor Area: </strong> <%= @library.floor_area %>
  </p>
  <% if current_user %>
  <%= button_to "Join", library_users_path(@library) %>
  <% end %>
</div>
